.groundContainer {
    display: flex;
    width: 100vw;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.ground {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    max-width: 20vw;;
    padding: 0;
    margin: 0;
    border: solid red 1px;
    justify-content: center;
}

.case {
    margin: 0;
    padding: 0;
    display: flex;
    height: 6.66vw;
    width: 6.66vw;
    box-sizing: border-box; /* Inclut les bordures dans la taille totale */
}

.playIcon {
        font-size: 4vw; /* Ajustez la taille de l'icône ici */
        line-height: 1; /* Assurez-vous que l'icône est bien centrée */
}